* {
    background-color: #1f2937;
}

body {
    text-align: center;
}

ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    gap: 8px;
}

li {
    flex: 1;
    width: 150px;
}

.header {
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-links {
    flex: 1 1 auto;
    justify-content: center;
    display: flex;
}

.header-logo {
    flex: 1 1 auto;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: center;
}

.top-content {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

.top-content-text {
    flex-direction: column;
    flex: 1;
    max-width: 400px;
    margin-right: 200px;
}

.top-content-text .title-box {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.top-content-text .textbox {
    font-size: 24px;
    color: #F9FAF8;
}


.register-button {
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.top-content-image {
    display: flex;
}

.mid-content {
    background-color: white;
    height: 500px;
}

.mid-content-title-box{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    background-color: white;
    padding: 40px;
}

.image-container {
    display: flex;
    justify-content: center;
    background-color: white;
    gap: 150px;
    
}

.image-container img {
    width: 100px;
    height: 100px;
    background-color: transparent;
}

.image-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

.image-content p {
    background-color: inherit;
    max-width: 100px;
}

.bot-content {
    background-color: #E5E7EB;
    padding: 150px;
}

.bot-content .testimonial {
    background-color: inherit;
    display: flex;
    justify-content: center;
}

.bot-content .testimonial-text {
    flex: 1;
    font-size: 36px;
    font-style: italic;
    background-color: transparent;
    font-weight: 100;
    max-width: 750px;
    text-align: left;
}

.bot-content .testimonial-info {
    color:#1f2937;
    background-color: transparent;
    font-weight: 700;
    font-size: 20px;
    max-width: 1225px;
    text-align: right;
}
